.env
.env.local
.env*.local
.env.production

node_modules/
.pnp
.pnp.js

.next/
.next-stale-*/
out/
build/
dist/
tsconfig.tsbuildinfo

coverage/
playwright-report/
test-results/

.vscode/
.idea/
*.swp
.DS_Store

*.log
npm-debug.log*

.cache/
.ms-playwright/
.npm-cache/
.turbo/

*.pem
*.key
secrets/
.vercel
